<div class="item">
    <div class="content">
        <div class="title">
         <div class="caption">
           Video course 1
         </div>
          <div class="info">
            <i class="fa fa-clock-o"></i> 1 h.05 min.  <i class="fa fa-calendar"></i> 15.05.2015
          </div>
        </div>
         
       <div class="course_text">
          A course description is a brief summary of the significant learning experiences for a course. Course descriptions appear in individual Course Outlines and in the Program of Studies (POSs) for individual programs. You can now search the entire database of course descriptions for classes taught at Boston University. This new site, open to the public, contains a full year of courses, beginning with the current semester and including the two upcoming ones. There are over 7,000 courses in the collection.
       </div>
    </div>
    <div class="actions">
      <button class="btn"><i class="fa fa-user"></i> Edit</button>
      <button class="btn"><i class="fa fa-sign-out"></i> Delete</button>
    </div> 
  </div>
  
  
  <div class="item">
    <div class="content">
        <div class="title">
         <div class="caption">
           Video course 2
         </div>
          <div class="info">
            <i class="fa fa-clock-o"></i> 1 h.05 min.  <i class="fa fa-calendar"></i> 15.05.2015
          </div>
        </div>
         
       <div class="course_text">
          A course description is a brief summary of the significant learning experiences for a course. Course descriptions appear in individual Course Outlines and in the Program of Studies (POSs) for individual programs. You can now search the entire database of course descriptions for classes taught at Boston University. This new site, open to the public, contains a full year of courses, beginning with the current semester and including the two upcoming ones. There are over 7,000 courses in the collection.
       </div>
    </div>
    <div class="actions">
      <button class="btn"><i class="fa fa-user"></i> Edit</button>
      <button class="btn"><i class="fa fa-sign-out"></i> Delete</button>
    </div> 
  </div>
  
  
  
  
  
  
  <div class="item">
    <div class="content">
        <div class="title">
         <div class="caption">
           Video course 3
         </div>
          <div class="info">
            <i class="fa fa-clock-o"></i> 1 h.05 min.  <i class="fa fa-calendar"></i> 15.05.2015
          </div>
        </div>
         
       <div class="course_text">
          A course description is a brief summary of the significant learning experiences for a course. Course descriptions appear in individual Course Outlines and in the Program of Studies (POSs) for individual programs. You can now search the entire database of course descriptions for classes taught at Boston University. This new site, open to the public, contains a full year of courses, beginning with the current semester and including the two upcoming ones. There are over 7,000 courses in the collection.
       </div>
    </div>
    <div class="actions">
      <button class="btn"><i class="fa fa-user"></i> Edit</button>
      <button class="btn"><i class="fa fa-sign-out"></i> Delete</button>
    </div> 
  </div>
  