.page {
    margin:0px;
    padding:0px;
    text-align: left;
    background: #EDEEEE;
    font-size: 14px;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    height: 100%;
  }
  
  
  