<app-nav></app-nav>
<div class="wrap">
    <form class="login-form" action="">
        <div class="form-header">
            <h3>
                <p>{{pageTitle}}</p>
            </h3>
        </div>

        <div class="form-group">
            <input type="text" class="form-input" placeholder="cource name" name="title" [(ngModel)]="courceItem.Title">
        </div>

        <div class="form-group">
            <textarea rows="4" cols="50" class="form-input" placeholder="description" name="courceDesc" [(ngModel)]="courceItem.Description">
            </textarea>
        </div>

        <div class="form-group">
            <input type="date" class="form-input" placeholder="date" name="courceDate" [(ngModel)]="courceItem.ConductAt">
        </div>

        <div class="form-group">
            <input type="text" class="form-input" placeholder="length" name="courceLength" [(ngModel)]="courceItem.DurationMin">
        </div>

        <div class="form-group">
            <button *ngIf="!isNew" (click)="update(false)" class="form-button" type="submit">Update cource</button>
            <button *ngIf="isNew" (click)="update(true)" class="form-button" type="submit">Add new cource</button>
            <button (click)="cancel()" class="form-button" type="submit">Cancel</button>
        </div>
    </form>
</div>