<app-nav></app-nav>
<div class="wrap">
    <form [formGroup]="courceForm" (submit)="onSubmit()">
        <label for="Title">Title</label>
        <input class="form-input" type="text" id="name" formControlName="Title" />
        <div class="error" *ngIf="isControlInvalid('Title')">
            Title  is required and should be less than 50 symbols
        </div>
        <br/><br/>
      
        <label for="Description">Description</label>
        <textarea rows="4" cols="50" class="form-input" placeholder="Description" name="Description"  formControlName="Description"></textarea>
        <div class="error" *ngIf="isControlInvalid('Description')">
            Description is required and should be less than 500 symbols
        </div>
        <br/><br/>

        <label for="Length">Length</label>
        <input class="form-input" type="text" id="Length" formControlName="Length" />
        <div class="error" *ngIf="isControlInvalid('Length')">
            Length is required and should be a number
        </div>
        <br/><br/>
      
        <button class="form-button" type="submit" type="submit">Add new cource</button>
      </form>
</div>